{% extends 'mycalendar/Events.html' %}
{% load my_tags %}
{% block content %}

<header>
    <div class="container-fluid">
        <div class="row-md-3">
            <h3 class="header_text">О сайте</h3>
            <div class="header_block"></div>
        </div>
    </div>
</header>

    <info>
        <div class="container mt-5">
            <div class="update">
                Обновлено 24 ноября 2024
            </div>
            <div class="info-text">
                Данный интернет-ресурс является официальным сайтом Министерства спорта Российской Федерации. На сайте регулярно публикуются <br> официальные документы и информационные сообщения о деятельности Министерства.
                <p><a href="#">Условия использования материалов сайта Министерства спорта Российской Федерации</a></p>
            </div>
        </div>
    </info>
{% endblock %}