{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylemin.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <title>Единый календарный план спортивных мероприятий</title>
</head>
<body>
    {% include 'mycalendar/includes/inc_menu.html' %}




        <!-- Таблица -->
    {% block content %}
    {% endblock %}
    </div>
        <!-- Подвал -->
        <footer class="footer mt-auto py-3">
            <div class="container">
                <div class="header_block"></div>
                <div class="d-flex">
                    <div class="p-2 flex-grow-1">
                        <span>© 2024 PRO-TEAM. Все права защищены.</span>
                    </div>
                    <div class="p-2"></div>
                    <div class="p-2">
                        <a class="footer-item" href="#"><i class="fa-brands fa-vk" style="color: #6f6c62;"></i></a>
                        <a class="footer-item" href="#"><i class="fa-brands fa-telegram" style="color: #6f6c62;"></i></a>
                        <a class="footer-item" href="#"><i class="fa-brands fa-square-odnoklassniki" style="color: #6f6c62;"></i></a>
                        <a class="footer-item" href="#"><i class="fa-brands fa-youtube" style="color: #6f6c62;"></i></a>
                    </div>
                  </div>
            </div>
        </footer>
    <!-- Подключение скриптов -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/747d436812.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
