{% extends 'mycalendar/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    {% if object %}
                    <p class="card-text">Редактирование события</p>
                    {% else %}
                    <p class="card-text">Создание события</p>
                    {% endif%}
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif%}
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
